---
Checks: '-*,
        bugprone-*,
        cppcoreguidelines-*,
        clang-analyzer-*,
        google-*,
        modernize-*,
        performance-*,
        portability-*,
        readability-*'
FormatStyle: file
...
