#include "winver.h"

#ifndef IDI_ICON1
#define IDI_ICON1 1
#endif

#define NAME "Fractal"
#define DESCRIPTION NAME " - Fractal generator project template"
#define HOMEPAGE "http://bradleydavis.tech/lab/cpptemplate"
#define LICENSE ""
#define COPYRIGHT ""

#define EXE "fractal.exe"
#define ICO "fractal.ico"

IDI_ICON1	ICON	DISCARDABLE	ICO

VS_VERSION_INFO	VERSIONINFO
FILEVERSION	RC_VERSION_1,RC_VERSION_2,RC_VERSION_3,RC_VERSION_4
PRODUCTVERSION	RC_VERSION_1,RC_VERSION_2,RC_VERSION_3,RC_VERSION_4
FILEFLAGS	0
FILEOS		VOS_NT_WINDOWS32
FILETYPE	VFT_APP
FILESUBTYPE	VFT2_UNKNOWN

BEGIN
	BLOCK "StringFileInfo"
	BEGIN
		BLOCK "040904E4"
		BEGIN
			VALUE "FileDescription",	DESCRIPTION
			VALUE "FileVersion",		  RC_VERSION
			VALUE "InternalName",		  NAME
			VALUE "LegalCopyright",   COPYRIGHT
			VALUE "License",		      LICENSE
			VALUE "Homepage",		      HOMEPAGE
			VALUE "OriginalFilename",	EXE
			VALUE "ProductName",		  NAME
			VALUE "ProductVersion",		RC_VERSION
		END
	END

	BLOCK "VarFileInfo"
	BEGIN
		VALUE "Translation", 0x409, 1252
	END
END